# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*
!.env.example  # Mantém um exemplo de env no repositório

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# cache de lint e estilização
.eslintcache
stylelint.cache

# cobertura de testes
coverage/

# arquivos de editor/IDE
.vscode/
.idea/

# arquivos de sistema operacional
.DS_Store
Thumbs.db
